<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Roll 'Em</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
  </head>
  <body>
    <div class="body-container">
      <div class="header">
        <h1>Roll 'Em</h1>
        <p>
          Enter the dice you want to roll using
          <a href="https://en.wikipedia.org/wiki/Dice_notation"
            >dice notation</a
          >
          and press <em>Roll</em>
        </p>
      </div>
      <div id="app"></div>
      <div class="footer">
        <p>
          <a
            href="https://github.com/forrestjacobs/roll-em/blob/prod/LICENSE.txt"
            >Copyright 2020–<%= new Date().getFullYear() %> Forrest Jacobs</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
